/* vietnamese */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v10/SKK6Nusyv8QPNMtI4j9J2yEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v10/gFXtEMCp1m_YzxsBpKl68iEAvth_LlrfE80CYdSH47w.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(https://fonts.gstatic.com/s/montserrat/v10/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/* hebrew */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local("Varela Round Regular"), local("VarelaRound-Regular"), url(https://fonts.gstatic.com/s/varelaround/v8/APH4jr0uSos5wiut5cpjrkByb1TKJa77egybnpn19yM.woff2) format("woff2");
  unicode-range: U+0590-05FF, U+20AA, U+25CC, U+FB1D-FB4F; }

/* vietnamese */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local("Varela Round Regular"), local("VarelaRound-Regular"), url(https://fonts.gstatic.com/s/varelaround/v8/APH4jr0uSos5wiut5cpjrv8zf_FOSsgRmwsS7Aa9k2w.woff2) format("woff2");
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB; }

/* latin-ext */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local("Varela Round Regular"), local("VarelaRound-Regular"), url(https://fonts.gstatic.com/s/varelaround/v8/APH4jr0uSos5wiut5cpjrj0LW-43aMEzIO6XUTLjad8.woff2) format("woff2");
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF; }

/* latin */
@font-face {
  font-family: 'Varela Round';
  font-style: normal;
  font-weight: 400;
  src: local("Varela Round Regular"), local("VarelaRound-Regular"), url(https://fonts.gstatic.com/s/varelaround/v8/APH4jr0uSos5wiut5cpjrugdm0LZdjqr5-oayXSOefg.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

body, html {
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-family: "Varela Round", sans-serif;
  background-color: #f5f7f8; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700; }

ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.green {
  color: #9fca9d; }

header {
  width: 100%;
  background-color: #5a1c65;
  color: white;
  padding: 10px 0;
  display: flex;
  align-items: center;
  justify-content: space-between; }

header li {
  display: inline-block;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif; }
  header li a {
    color: white;
    display: block;
    padding: 10px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 250ms linear;
    -moz-transition: all 250ms linear;
    -ms-transition: all 250ms linear;
    -o-transition: all 250ms linear;
    transition: all 250ms linear;
    text-decoration: none; }
  header li a:hover, header li a:focus {
    color: black;
    background: #9fca9d;
    text-decoration: none;
    box-shadow: 0 3px 0 #549651; }

header li.active a {
  color: black;
  background: #9fca9d;
  text-decoration: none;
  box-shadow: 0 3px 0 #549651; }

.main-section {
  background: url(../images/main.jpg) center no-repeat black;
  background-size: cover;
  height: 20vh;
  visibility: visible;
  width: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative; }
  .main-section h1 {
    font-size: 1.5em; }

.main-section:before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3); }

.secondary-section {
  padding: 50px 0;
  font-size: 1.5em;
  line-height: 1.5; }

.specialities {
  margin: 50px 0; }

.secondary-section li {
  display: flex;
  align-items: center; }

.secondary-section li:nth-child(even) {
  position: relative;
  margin-bottom: 50px;
  height: 180px;
  right: -100px; }

.secondary-section li:nth-child(odd) {
  position: relative;
  margin-bottom: 50px;
  height: 180px;
  left: -100px; }

.speciality-image {
  z-index: 100;
  position: absolute;
  left: 50%;
  border: 3px solid white;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  margin-left: -100px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.16); }

.speciality-text {
  position: relative;
  float: left;
  width: 41%;
  padding: 0 20px 20px 30px;
  text-align: right; }

.secondary-section li:nth-child(even) {
  justify-content: flex-end; }

.speciality-text.pull-right {
  float: right !important;
  text-align: left; }

.secondary-section li:nth-child(odd) .border:before {
  content: "";
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 690px;
  width: 3px;
  height: 340px;
  background-color: #9A9A9A;
  -ms-transform: rotate(-44deg);
  -webkit-transform: rotate(-44deg);
  transform: rotate(-44deg); }

.secondary-section li:nth-child(even) .border:before {
  content: "";
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 450px;
  width: 3px;
  height: 340px;
  background-color: #9A9A9A;
  -ms-transform: rotate(44deg);
  -webkit-transform: rotate(44deg);
  transform: rotate(44deg); }

@media (max-width: 1199px) {
  li .border {
    display: none; }
  .secondary-section li:nth-child(odd) {
    margin-bottom: 0;
    min-height: 0;
    left: 0; }
  .secondary-section li:nth-child(even) {
    margin-bottom: 0;
    min-height: 0;
    right: 0; }
  .secondary-section li:nth-child(even) .speciality-image {
    left: 0;
    margin-left: 0; }
  .speciality-image li:nth-child(odd) .speciality-image {
    left: auto;
    margin-left: 0;
    right: 25px; } }

.statements {
  margin: 50px 0; }

.boxy {
  background: white;
  box-shadow: 0 16px 38px -21px rgba(0, 0, 0, 0.5);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  width: 100%;
  height: 100%;
  padding: 5px 15px; }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.certifications .row {
  display: flex;
  align-items: center;
  justify-content: space-around; }

.certifications img {
  max-height: 90px; }

.main-section.contracts {
  background: url(../images/contracts.jpg) center no-repeat black; }

.all-contracts h1, .all-contracts h2 {
  color: #5a1c65; }

.all-contracts .nav-tabs {
  border-bottom: 2px solid #DDD; }

.all-contracts .nav-tabs > li.active > a, .all-contracts .nav-tabs > li.active > a:focus, .all-contracts .nav-tabs > li.active > a:hover {
  border-width: 0; }

.all-contracts .nav-tabs > li > a {
  border: none;
  color: #666; }

.all-contracts .nav-tabs > li.active > a, .all-contracts .nav-tabs > li > a:hover {
  border: none;
  color: #5a1c65 !important;
  background: rgba(159, 202, 157, 0.3); }

.all-contracts .nav-tabs > li > a::after {
  content: "";
  background: #9fca9d;
  height: 2px;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: -1px;
  transition: all 250ms ease 0s;
  transform: scale(0); }

.all-contracts .nav-tabs > li.active > a::after, .all-contracts .nav-tabs > li:hover > a::after {
  transform: scale(1); }

.all-contracts .tab-nav > li > a::after {
  background: #9fca9d none repeat scroll 0 0;
  color: #fff; }

.all-contracts .tab-pane {
  padding: 15px 0; }

.all-contracts .tab-content {
  padding: 20px; }

.all-contracts .card {
  background: #FFF none repeat scroll 0 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px; }

.all-contracts ul {
  list-style: inside; }

.main-section.news {
  background: url(../images/news.jpg) center no-repeat black; }

.news_container {
  background: white;
  padding: 15px;
  margin-top: 15px;
  box-shadow: 0 16px 38px -21px rgba(0, 0, 0, 0.5); }
  .news_container h1, .news_container h2, .news_container h3 {
    color: #5a1c65; }
  .news_container img {
    cursor: zoom-in; }

.main-section.jobs {
  background: url(../images/jobs.jpg) center no-repeat black; }

.jobs_container h1, .jobs_container h2, .jobs_container h3 {
  color: #5a1c65; }

.jobs_container iframe {
  width: 100%;
  min-height: 600px; }

.main-section.contact-us {
  background: url(../images/contact-us.jpg) center no-repeat black; }

.contactus_container {
  min-height: 45vh; }

footer {
  background: #5a1c65;
  margin-top: 50px;
  color: white;
  padding: 25px 0;
  text-align: center; }
  footer a {
    color: white;
    display: block;
    padding: 10px 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all 250ms linear;
    -moz-transition: all 250ms linear;
    -ms-transition: all 250ms linear;
    -o-transition: all 250ms linear;
    transition: all 250ms linear;
    text-decoration: none; }
  footer a:hover, footer a:focus {
    color: white;
    background: #9fca9d;
    text-decoration: none;
    box-shadow: 0 3px 0 #549651; }
  footer ul {
    margin: 10px 0; }
  footer li {
    display: inline-block; }

footer li.active a {
  color: white;
  background: #9fca9d;
  text-decoration: none;
  box-shadow: 0 3px 0 #549651; }
