@media screen and (max-width: 1024px) {
    body,html{
      height:100%;
      width:100%;
      overflow-x:hidden;
    }
  header{
    position: relative;
    z-index: 9999;
  }
    .main-menu{
      position: fixed;
      top: 83px;
      left:-100%;
      padding: 0;
      background: rgba($green, .5);
      width: 100%;
      height: 100%;
      z-index: 9999;
      -webkit-transition: left 250ms linear;
      -moz-transition: left 250ms linear;
      -ms-transition: left 250ms linear;
      -o-transition: left 250ms linear;
      transition: left 250ms linear;
      ul{
      text-align: left;
        float: left;
        background: darken($green, 10%);
        width: 190px;
        height: 100%;
        box-shadow:1px 6px 20px 7px rgba(0, 0, 0, 0.2);
      }
      li{
        width:100%;
        a{
          width:100%;
          padding:20px;
          color:darken($green, 50%);
        }
      }
    }
  .main-menu.show-menu{
    left:0;
  }
  header li.active a{
    border-radius:0;
    background:darken($green, 20%);
    color:white;
  }
  header .col-xs-12{
    display: flex;
    justify-content: center;    width: 100%;

  }
  .specialities{
    float: left;
    width:100%;
    padding:0;
    margin:0;
    ul {
      padding: 0 15px;
    }
    .speciality-text{
      h1{
        font-size:$px18;
      }
    }
  }

  .speciality-image,.speciality-text{
      padding:0;
      position: static;
      margin:0;
      height:auto;
      border:none;
      float: left;
      text-align:left;
  }
  .speciality-image{
    width:18%;
    padding:0 1%;
  }
  .speciality-text{
    width:calc(80% - 30px);
    padding:0 15px;
  }
  .secondary-section {
    padding: 20px 0;
   }
  .secondary-section p{
    padding:0 20px;
  }
  .secondary-section li:nth-child(odd),   .secondary-section li:nth-child(even) {
    margin-bottom: 0;
    min-height: 0;
    left: 0;
    height:auto;
    position: static;
    width:100%;
    float: left;
    display: flex;
    align-items: center;
  }

  .secondary-section li:nth-child(even) .speciality-image {
     left: 0;
     margin-left: 0;
     float: right;
   }
  .row-eq-height{
    flex-direction: column;
  }
  .certifications .row {
     flex-direction: column;
    img{
      margin:0 0 30px 0;
    }
   }
  $bar-width: 35px;
  $bar-height: 3px;
  $bar-spacing: 9px;


    .menu-btn {
      display:block;
      position: absolute;
      top: 35px;
      left: 25px;
      margin: auto;
      width: $bar-width;
      height: $bar-height + $bar-spacing*2;
      cursor: pointer;
    }

    .bar,
    .bar:after,
    .bar:before {
      width: $bar-width;
      height: $bar-height;
    }

    .bar {
      position: relative;
      transform: translateY($bar-spacing);
      background: rgba(255, 255, 255, 1);
      transition: all 0ms 300ms;

      &.animate {
        background: rgba(255, 255, 255, 0);
      }
    }

    .bar:before {
      content: "";
      position: absolute;
      left: 0;
      bottom: $bar-spacing;
      background: rgba(255, 255, 255, 1);
      transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .bar:after {
      content: "";
      position: absolute;
      left: 0;
      top: $bar-spacing;
      background: rgba(255, 255, 255, 1);
      transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .bar.animate:after {
      top: 0;
      transform: rotate(45deg);
      transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
    }

    .bar.animate:before {
      bottom: 0;
      transform: rotate(-45deg);
      transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);;
    }
  .nav>li>a {
    position: relative;
    display: block;
    padding: 15px 9px;
  }
  .tab-pane .row-eq-height{
    display: block;
  }
}